#background-video{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
position:fixed
left: 0;
right:0;
top: 0;
bottom:0;

z-index: -1;
}
@media(max-width:300px;){
#background-video{dispay:none;}
body{
	background: url()no-repeat;
	background-size: height:300px ,width:150px;
}
}